{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>home page</h1>
				<p>
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas vitae, numquam dicta consectetur provident praesentium est ducimus nihil unde? Voluptatibus vel, ducimus cupiditate doloremque atque vero optio maxime reiciendis necessitatibus.
				</p>
			</div>
		</div>
	</div>

{% endblock %}
